body {
background-color: #b3c6ff;

}
.naslov {
    text-align: center;
    font-family: Arial;
    font-style: bold;
    font-size: 20px;
}
.tekst {
text-align: justify;
font-family: Arial;
font-size: 14px;
}